.calc{
    width: 400px;
    height: 600px;
    background-color: gray;
    margin-left: 400px;
}
#screen{
    width: 80%;
    height: 40px;
    margin-left: 36px;
    margin-top: 30px;
    pointer-events: none;
}
.btn{
    width: 70px;
    height: 70px;
    margin-left: 20px;
    margin-top: 30px;
    font-size: 40px;
}